@use "../../styles/variables" as *;

.my-expense-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px;
  gap: 40px;
  .my-expense-search {
    border-radius: $border-radius;
    width: 80%;
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px;
    input {
      border: none;
      background-color: transparent;
      color: #fff;
      width: 100%;
      outline: none;
      font-size: $font-md;
      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .my-expense-form {
    border: 2px solid $third-color;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    box-shadow: $shadow-bold;
    & > * {
      color: rgb(175, 175, 175);
    }
    .form-inputs {
      display: flex;
      gap: 20px;
      .select-wrapper {
        width: 100%;
        .css-13cymwt-control {
          background-color: #608bc1;
          .css-1jqq78o-placeholder {
            color: #fff;
          }
          .css-19bb58m input {
            background-color: #608bc1;
          }
        }
      }
    }
    .form-input {
      font-size: 20px;
      outline: none;
      padding-bottom: 5px;
      background: none;
      border: none;
      border-bottom: 2px solid $third-color;
      color: $six-color;
    }
    .radio-inputs {
      display: flex;
      gap: 20px;
      font-size: 20px;
      .radio-input label {
        display: flex;
        gap: 7px;
      }
    }
    .action-btns {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      .action-btn {
        text-align: center;
        flex: 1;
        font-size: 24px;
        border: 2px solid $third-color;
        border-radius: 8px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $primary-color;
        color: $third-color;
        transition: all 0.3s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        &:hover {
          border: 2px solid $primary-color;
          background-color: $third-color;
          color: $primary-color;
        }
      }
    }
  }
  .add-expense-btn {
    font-size: 30px;
    border: 2px solid $third-color;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $primary-color;
    color: $third-color;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      border: 2px solid $primary-color;
      background-color: $third-color;
      color: $primary-color;
    }
  }
  .my-expense-outer {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .my-expense-month {
      .my-expense-title {
        font-weight: bold;
        font-style: italic;
      }
      .my-expense-list {
        border: 2px solid $third-color;
        border-radius: 8px;
        padding: 20px;
        box-shadow: $shadow-bold;
        display: flex;
        gap: 15px;
        flex-direction: column;
        color: $six-color;
        .my-expense-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 0;
          border-bottom: 1px solid #777;
          gap: 10px;
          .item-title {
            flex: 3;
            font-size: $font-md;
          }
          .item-amount {
            flex: 1;
            min-width: fit-content;
          }
          .item-category {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 5px;
            & :first-child {
              display: flex;
              align-items: center;
            }
          }
          .item-btns {
            flex: 1;
          }
          .item-type {
            border-radius: 6px;
            color: #fff;
            padding: 5px 8px;
            box-shadow: $shadow-bold;
            flex: 2;
            text-align: center;
          }
          &.expense .item-type {
            background-color: rgba(192, 8, 57, 0.525);
          }
          &.income .item-type {
            background-color: rgba(44, 178, 44, 0.525);
          }
          &.investment .item-type {
            background-color: rgba(94, 19, 156, 0.525);
          }
          &.savings .item-type {
            background-color: rgba(205, 173, 98, 0.525);
          }

          .item-btns {
            display: flex;
            gap: 20px;
            height: 35px;
            .btn {
              cursor: pointer;
              font-size: 20px;
              border-radius: 6px;
              border: none;
              padding: 2px 8px;
              box-shadow: $shadow-bold;
              color: #fff;
              display: flex;
              align-items: center;
            }
            .btn-edit {
              background-color: rgb(92, 177, 237);
            }
            .btn-delete {
              background-color: rgba(192, 8, 57, 0.525);
            }
          }
        }
      }
    }
  }
  .my-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
    gap: 15px;
    .my-stats-header {
      font-size: $font-lg;
      font-weight: bold;
      padding: 20px 0;
    }
    .my-stats-total {
      display: flex;
      gap: 118px;
      align-items: center;
      padding-bottom: 20px;
      justify-content: space-between;
      width: 80%;
      .total-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .left-title {
          font-size: $font-md;
          font-weight: bold;
          width: max-content;
        }
        .left-sum {
          font-size: $font-sm;
        }
      }
      .total-right {
        display: flex;
        width: 80%;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        // overflow: hidden;
        .right {
          height: 100%;
          position: relative;
          transition: all 0.8s ease;
          div {
            display: none;
            position: absolute;
            bottom: 20px;
            left: 0;
          }
          .subtitle {
            font-weight: bold;
          }
          &:hover {
            div {
              display: block;
            }
          }
        }
        .right-savings {
          background-color: $color-savings;
        }
        .right-investment {
          background-color: $color-invetment;
        }
        .right-expense {
          background-color: $color-expense;
        }
        .right-income {
          background-color: $color-income;
        }
      }
    }
    .my-stats-list {
      display: flex;
      gap: 50px;
      justify-content: space-between;
      width: 80%;
      font-size: $font-sm;
      font-weight: bold;
      .list-item {
        .list-sum {
          font-size: $font-md;
        }

        &:first-child {
          .list-title {
            color: $color-income;
          }
        }
        &:nth-child(2) {
          .list-title {
            color: $color-expense;
          }
        }
        &:nth-child(3) {
          .list-title {
            color: $color-invetment;
          }
        }
        &:nth-child(4) {
          .list-title {
            color: $color-savings;
          }
        }
      }
    }
  }
}
