@use "../../styles/variables.scss" as *;

.nav-container {
  background-color: $third-color;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: $gap-large;
  padding: $gap-large;
  .nav-logo {
    border-bottom: $border;
    padding-bottom: $gap-medium;
    display: flex;
    align-items: center;
    gap: $gap-medium;
    .nav-title {
      font-weight: $weight-bold;
    }
  }
  .nav-links {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .nav-link {
      color: black;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .active {
      color: $secondary-color;
    }
  }
}
