@use "../../styles/variables.scss" as *;

.nav-container {
  background-color: $third-color;
  width: 300px;
  min-width: 300px;
  height: inherit;
  padding: $gap-large;
  .main-nav {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
    .nav-logo {
      border-bottom: $border;
      padding-bottom: $gap-medium;
      display: flex;
      align-items: center;
      gap: $gap-medium;
      color: $primary-color;
      .nav-title {
        font-weight: $weight-bold;
      }
    }
    .settings-wrapper {
      display: flex;
      align-items: center;
      gap: $gap-medium;
      .nav-dark {
        width: 60px;
        box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
        border-radius: 20px;
        position: relative;
        padding: 5px 6px;
        background-color: $fifth-color;
        cursor: pointer;
        direction: ltr;

        .dark-toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .dark-circle {
            position: absolute;
            right: 0;
            bottom: 2px;
            background-color: #fff;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            transition: all 0.6s ease;
            &.dark {
              right: 30px;
            }
          }
        }
      }
      .nav-lang {
        width: 60px;
        box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
        border-radius: 20px;
        position: relative;
        padding: 5px 6px;
        background-color: $fifth-color;
        cursor: pointer;
        direction: ltr;

        .lang-toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 20px;
          .lang-circle {
            position: absolute;
            right: 0;
            bottom: 2px;
            background-color: #fff;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            transition: all 0.6s ease;
            &.he {
              right: 30px;
            }
          }
        }
      }
    }
    .nav-links {
      display: flex;
      gap: $gap-large;
      flex-direction: column;
      width: 100%;
      .logout-btn {
        background-color: $primary-color;
        border: none;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        gap: $gap-small;
        font-size: $font-size-base;
        transition: all 0.25s ease;
        &:hover {
          background-color: $fifth-color;
        }
      }
      .nav-link {
        color: $primary-color;
        text-decoration: none;
        display: flex;
        gap: $gap-medium;
        align-items: center;
      }
      .active {
        color: $secondary-color;
        font-weight: bold;
        background-color: $forth-color;
        padding: 3px 5px;
        border-radius: $border-radius;
      }
      .avatar-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: $border;
        gap: 10px;
        .avatar-image {
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .avatar-details {
          display: flex;
          flex-direction: column;
          .avatar-email {
            color: $primary-color;
          }
          .avatar-username {
            font-weight: bold;
            color: $primary-color;
          }
        }
      }
    }
  }
  .close-icon {
    display: none;
  }

  .dark & {
    background-color: $dark-background-second;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    position: static;
    width: 300px;
    min-width: 300px;
    height: inherit;
    .main-nav {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .hamburger {
      display: none; // Hide hamburger on larger screens
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: inherit;
    z-index: 9;

    &.close {
      width: 100%;
      height: 70px;
      .main-nav {
        display: none;
      }
      .hamburger {
        display: block;
      }
      .close-icon {
        display: none;
      }
    }
    &.open {
      .close-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        left: 12px;
        top: 12px;
        transition: all 0.5s ease;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }

    .main-nav {
      align-items: center;
      justify-content: center;
      .nav-logo {
        width: 100%;
        justify-content: center;
      }
    }

    .hamburger {
      font-size: 24px;
      cursor: pointer;
      display: none;
    }
  }
}
