@use './styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

body {
  background-color: $primary-color;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.dark {
  background-color: $dark-background ;
  color: $dark-color;
}