.analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  .doughnut-wrapper {
    width: 400px;
    height: 400px;
  }
  .bar-wrapper {
    width: 800px;
    height: 800px;
  }
}

@media screen and (max-width: 800px) {
  .analytics-container {
    .bar-wrapper {
      width: 550px;
      height: 550px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 640px) {
  .analytics-container {
    .bar-wrapper {
      width: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .analytics-container {
    .doughnut-wrapper {
      width: 350px;
      height: 350px;
    }
    .bar-wrapper {
      display: flex;
      justify-content: center;
      width: 350px;
      height: 350px;
    }
  }
}
