// Colors
$primary-color: #fff;
$secondary-color: hsl(227, 16%, 89%);
$third-color: #F3F4F6;
$dark-background: #2D3250;
$btn-color: #5c67a7;
$btn-color-light: #7cb9e8;
$dark-background-second: #424769;
$dark-color: #F6F4F0;
// $background-color: #f5f5f5;
// $text-color: #333333;

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-sm: 12px;
$font-md: 20px;
$font-lg: 24px;

//weights
$weight-light: 300;
$weight-normal: 500;
$weight-bold: 700;

// Spacing
$spacing-unit: 8px;
$border-radius: 6px;
$gap-small: 5px;
$gap-medium: 10px;
$gap-large:20px;

//borders
$border: 1px solid #999999b8;